* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #3434d8;
  font-family: sans-serif;
}

#reloj, #fecha {
  color: #f5f5f5;
}

#fecha {
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  padding: 0 1rem;
}

#reloj {
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  padding: 1rem 0;
}

fieldset {
  width: 500px;
  margin: 0 auto;
  border-radius: 10px;
}

@media (max-width:368px) {
  fieldset {
    width: 250px;
  }
}